<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="user_form">
    <!--        <h1 class="hero">-->
    <!--            NEBULA-->
    <!--        </h1>-->
    <!--            <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <!--            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->

    <style>
        .badge {
            padding: .5rem 1rem;
        }
        .select2 {
            width: 100% !important;
        }
    </style>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="inputId">Id</label>
                <input type="text" id="inputId" class="form-control" placeholder="Id" required autofocus disabled
                       th:field="*{id}">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus
                       th:field="*{username}">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required
                       th:field="*{email}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="inputFirstName">First Name</label>
                <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" required
                       th:field="*{firstname}">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="inputListName">Last Name</label>
                <input type="text" id="inputListName" class="form-control" placeholder="Last Name" required
                       th:field="*{lastname}">
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group">
                <label for="inputGender">Gender</label>
                <input type="text" id="inputGender" class="form-control" placeholder="Gender" required
                       th:field="*{gender}">
            </div>
        </div>
    </div>

    <th:block th:if="${action} == 'create'">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                           th:field="*{password}">
                </div>
            </div>
        </div>
    </th:block>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="inputTelephone">Telephone</label>
                <input type="text" id="inputTelephone" class="form-control" placeholder="Telephone" required
                       th:field="*{telephone}">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="inputAddress1">Address1</label>
                <input type="text" id="inputAddress1" class="form-control" placeholder="Address1" required
                       th:field="*{address1}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="inputAddress2">Address2</label>
                <input type="text" id="inputAddress2" class="form-control" placeholder="Address2" required
                       th:field="*{address2}">
            </div>
        </div>
    </div>

<!--    <div class="row" th:if="*{userRoles != null && #lists.size(userRoles) > 0}">-->
<!--        <div class="col-md-12">-->

<!--            <div class="form-group">-->
<!--                <label>Role</label>-->
<!--                <div>-->
<!--                    &lt;!&ndash;                        <th:block  th:each="userRole,iterationStatus : *{userRoles}">&ndash;&gt;-->
<!--                    <th:block th:each="userRole,iterationStatus : *{userRoles}">-->
<!--                                                <span class="badge badge-pill badge-primary"-->
<!--                                                      th:text="*{userRoles[__${iterationStatus.index}__].role.code}"></span>-->
<!--                    </th:block>-->
<!--                </div>-->
<!--                &lt;!&ndash;                    <input type="text" id="inputRole" class="form-control" placeholder="Role" required disabled&ndash;&gt;-->
<!--                &lt;!&ndash;                           th:field="*{userRoles[__${iterationStatus.index}__].role.code}">&ndash;&gt;-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->

    <div class="row" th:if="*{userRoles != null && #lists.size(userRoles) > 0}">
        <div class="col-md-6">
            <div class="form-group">
                <label>Role</label>
                <select class="role-select" name="userRoleArray" multiple="multiple">
                    <th:block th:each="userRole,iterationStatus : *{userRoles}">
                        <option th:value="*{userRoles[__${iterationStatus.index}__].role.code}" th:text="*{userRoles[__${iterationStatus.index}__].role.code}">Alabama</option>
                    </th:block>
                </select>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top: 5px;">
        <div class="col-md-6">
            <button class="btn btn-md btn-primary btn-block" type="submit">Save</button>
        </div>
    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            var userRoles = /*[[${user.userRoles}]]*/;

            console.log(userRoles);

            $('.role-select').select2().val(userRoles.map(function(item){return item.role.code;})).trigger('change');
        })
        /*]]>*/
    </script>

    <script>
;
    </script>
</div>