<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{fragments/base_fragment}">

<div th:replace="fragments :: appBar(currentUser=currentUser, isUserLogin=isUserLogin)"></div>

<div layout:fragment="content2">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h4 class="h4">User Management</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button id="new-btn" class="btn btn-sm btn-outline-secondary">New</button>
<!--                <button class="btn btn-sm btn-outline-secondary">Export</button>-->
            </div>
<!--            <button  class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
<!--                <span data-feather="calendar"></span>-->
<!--                New-->
<!--            </button>-->
        </div>
    </div>


    <table class="table" style="font-weight: inherit;font-size: 12px;margin-top: 30px;">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scopr="col"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${data.contents}">
            <tr>
                <th scope="row" th:text="${user.id}">...</th>
                <td th:text="${user.username}">...</td>
                <td th:text="${user.email}">...</td>
                <td th:text="${user.telephone}">...</td>
                <td>
                    <a th:href="${'/cms/user/' + user.id + '/show'}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">


        <ul class="pagination justify-content-center">

            <li class="page-item">
                <a class="page-link"
                   th:href="${data.prevIndex == -1 ? '#' : (data.path + '?page=' + data.prevIndex + '&size=' + data.pageSize)}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <!--            <th:block th:each="i: ${#numbers.sequence(0, data.totalPages - 1)}">-->
            <th:block th:if="${data.pageNumberArray[0]} > 0">
                <li class="page-item">
                    <a class="page-link" style="border-top: 0px;border-bottom: 0px;">
                        ...
                    </a>
                </li>
            </th:block>
            <th:block th:each="i: ${data.pageNumberArray}">

                <li th:class="${'page-item ' + (i == data.pageNumber ? 'active' : '')}" class="page-item active"><a
                        class="page-link" th:href="${data.path + '?page=' + i + '&size=' + data.pageSize}"
                        th:text="${i + 1}"></a></li>
            </th:block>

            <th:block th:if="${data.pageNumberArray[data.pageNumberArray.size() - 1]} < ${data.totalPages - 1}">
                <li class="page-item">
                    <a class="page-link" style="border-top: 0px;border-bottom: 0px;">
                        ...
                    </a>
                </li>
            </th:block>

            <li class="page-item">
                <a class="page-link"
                   th:href="${data.nextIndex == -1 ? '#' : (data.path + '?page=' + data.nextIndex + '&size=' + data.pageSize)}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

            <div style="display: inline-flex;margin-left: 30px;">
                <select class="form-control" id="pageSelect" th:value="${data.pageSize}">
                    <th:block th:each="option: ${data.perPageOptions}">
                        <option th:value="${option}" th:text="${option}"
                                th:selected="${option == data.pageSize}"></option>
                    </th:block>
                </select>
                <div style="white-space: nowrap;padding-top: 0.45rem;padding-left: 0.45rem;padding-right: 0.45rem;">
                    per page
                </div>
            </div>
        </ul>
    </nav>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $('#pageSelect').change(function () {
                var basePath = /*[[${data.path + \'?page=\' + data.pageNumber + \'&size=\'}]]*/;
                window.location.href = basePath + $(this).val();
            });
        });

        $('#new-btn').click(function () {
            window.location.href = '/cms/user/new';
        });
        /*]]>*/
    </script>


</div>
</html>