<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{fragments/base_fragment}">

<div th:replace="fragments :: appBar(currentUser=currentUser, isUserLogin=isUserLogin)"></div>

<div layout:fragment="content2">

    <h1>New User</h1>

    <form class="form-show" action="#" th:action="@{/cms/user/create}" th:object="${user}" method="post">
        <div th:insert="user/form :: user_form" th:with="user=${user}, action=${'create'}"></div>
    </form>

</div>
</html>