<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{fragments/layout}">


<div layout:fragment="content">

    <head>
        <link th:href="@{/css/cms.css}" rel="stylesheet"/>
    </head>

    <div layout:fragment="appBar">
        <div th:text="${isUserLogin}"></div>
        <div th:text="${currentUser.id}"></div>
        <div th:replace="fragments/app_bar :: app_bar" th:if="${isUserLogin} == true"
             th:with="currentUser=${currentUser}"></div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" data-label="home" th:href="@{'/cms/home'}">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-label="user" th:href="@{'/cms/user'}">
                                <span data-feather="file"></span>
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                Integrations
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <!-- Icons -->
            <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
            <script>
                feather.replace();

                function getCmsPath() {
                    let path = window.location.pathname;

                    let splittedPath = path.split('/');
                    let relativePath = '';
                    for (let i = 0; i < splittedPath.length; i += 1) {
                        if (splittedPath[i] == 'cms' && splittedPath[i + 1] != null) {
                            relativePath = splittedPath[i + 1];
                        }
                    }
                    return relativePath;
                }


                $(document).ready(function () {
                    $('.nav .nav-link').removeClass('active');

                    $('.nav-link[data-label=' + getCmsPath() + ']').addClass('active');
                });
            </script>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div layout:fragment="content2"></div>
            </main>


        </div>
    </div>

</div>
</html>