<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{fragments/layout}">

<div layout:fragment="content">

    <div class="login-bg-animation">

    </div>

    <div th:if="${isUserLogin} == true">
        <div th:replace="fragments/app_bar :: app_bar"></div>
    </div>


    <div class="container d-flex h-100 login-container">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-12">
                <h1 class="hero">
                    NEBULA
                </h1>
                <form action="#" th:action="@{/cms/login}" th:object="${user}" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{email}"
                               placeholder="Enter email">
                        <small id="emailHelp" class="form-text">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" th:field="*{password}">
                    </div>
<!--                    <div class="form-group form-check">-->
<!--                        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                        <label class="form-check-label" for="exampleCheck1">-->
<!--                            <small>Remember password</small>-->
<!--                        </label>-->
<!--                    </div>-->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>